rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /tenders/{tenderId} {
      allow read, update, delete: if true;
    }

    match /notifications/{notificationId} {
      allow read: if signedInUser();
    }

    match /settings/{settingId} {
      allow read, write: if signedInUser();
    }
  }
}
