rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function allowedUser() {
      return request.auth != null
        && request.auth.token.email == "weilun850624@gmail.com"
        && request.auth.token.email_verified == true;
    }

    match /tenders/{tenderId} {
      allow read, update: if allowedUser();
    }

    match /notifications/{notificationId} {
      allow read: if allowedUser();
    }

    match /settings/{settingId} {
      allow read, write: if allowedUser();
    }
  }
}
